// Colours
$brand-color-dark: #006EB6;
$brand-color-light: #5e91c0;
$bodytext: #383838;
$linkcolor: #bc0937;
$brand-dark-blue: #3f72a1;

// base
$base-font-family: unquote("sans-serif");
$base-font-size: 16px;
$base-line-height: 1.231;
$general-margin: 15px;

$selected-background-color: $brand-color-dark;
$selected-font-color:#fff;

// Media queries
$phonelandscape: 400px;
$ipad: 768px;
$desktop: 968px;

